<div class="user-profile-card">
  <div class="profile-header">
    <img [src]="currentUser!.imageUrl" alt="User Profile Picture" class="profile-image" />
    <h2>{{ currentUser!.persianFirstName }} {{ currentUser!.persianLastName }}</h2>
    <p class="access-type">{{ currentUser!.accessType | titlecase }}</p>
  </div>
  <ul class="profile-details">
    <li> {{ currentUser!.englishFirstName }} {{ currentUser!.englishLastName }} <strong> : نام و نام خانوادگی </strong></li>
    <li> {{ currentUser!.emailAddress }} <strong> : آدرس ایمیل</strong></li>
    <li> {{ currentUser!.phoneNumber }} <strong>: شماره تلفن همراه</strong></li>
    <li> {{ currentUser!.internalPhoneNumber }} <strong>: شماره تلفن داخلی </strong></li>
    <li> {{ currentUser!.grade }} <strong>: رتبه</strong></li>
    <li> {{ currentUser!.unit }} <strong>: واحد </strong></li>
  </ul>
</div>
