*{
  font-family: 'Vazirmatn', sans-serif;

}
.user-profile-card {
  width: 100%;
  margin: 20px auto;
  background: var(--sys-surface-bright);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  text-align: right;
}

.profile-header {
  text-align: center;
  background: linear-gradient(to right, var(--sys-surface-container-highest), var(--sys-surface-container-high));
  
  padding: 20px;
}

.profile-header .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--sys-on-secondary-fixed-variant);
  margin-bottom: 15px;
}

.profile-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.profile-header .access-type {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 5px;
  color: var(--sys-on-secondary-fixed-variant);
}

.profile-details {
  list-style: none;
  padding: 15px 20px;
  margin: 0;
}

.profile-details li {
  margin-bottom: 10px;
  font-size: 0.95em;
  color: var(--sys-scrim);
}

.profile-details li strong {
  font-weight: bold;
  color: var(--sys-primary);
}
