<div class="card-container">
    <mat-card class="nav-card" routerLink="/signup" >
      <mat-icon class="card-icon">face</mat-icon>
      <h2 class="card-title">ثبت کاربر جدید</h2>
    </mat-card>
  
    <mat-card class="nav-card" routerLink="/search" >
      <mat-icon class="card-icon">search</mat-icon>
      <h2 class="card-title">جستجوی اعضا</h2>
    </mat-card>
  
    <mat-card class="nav-card" routerLink="/allhotel" >
      <mat-icon class="card-icon">shopping_cart</mat-icon>
      <h2 class="card-title">مشاهده تمام هتل ها</h2>
    </mat-card>

    <mat-card class="nav-card" routerLink="/allcomment" >
      <mat-icon class="card-icon">comment</mat-icon>
      <h2 class="card-title">مشاهده تاریخچه کامنت ها</h2>
    </mat-card>
    
    <mat-card class="nav-card" routerLink="/pendingreservation" >
      <mat-icon class="card-icon"> question_answer</mat-icon>
      <h2 class="card-title">رزور های ثبت شده</h2>
    </mat-card>
    <mat-card class="nav-card" routerLink="/calendar" >
      <mat-icon class="card-icon">today</mat-icon>
      <h2 class="card-title">تقویم رزرو های ثبت شده</h2>
    </mat-card>
</div>
