<div class="wrap">
@for(comment of userComments;track comment.commentId){

    <mat-card class="review-card">
        <mat-card-header>
          <mat-card-title>{{ comment.title }}</mat-card-title>
          <mat-card-subtitle>
            hotel id:{{ comment.hotelId }} - rating: {{ comment.stars }} <mat-icon>star</mat-icon>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ comment.description }}
        </mat-card-content>
        <mat-card-footer>
          {{ comment.date | date:'mediumDate' }}
        </mat-card-footer>
      </mat-card>
      
    }
</div>