<div class="header">
    <button mat-raised-button [mat-menu-trigger-for]="widgetMenu">
        <mat-icon>add-circle</mat-icon>
        اضافه کردن ویدجت
    </button>
    <h2> داشبورد {{currentUser.persianFirstName}} {{currentUser.persianLastName}} </h2>
<mat-menu #widgetMenu="matMenu">
    @for(widget of store.widgetsToAdd(); track widget.id){
        <button mat-menu-item (click)="store.addWidget(widget)">
    {{widget.label}}
        </button>

    } @empty{
        <button mat-menu-item >
          ویجت وجود ندارد
                </button>
    }
</mat-menu>
</div>

<div
 class="dashboard-widgets"
 #dashboard
 >
    @for (w of store.addedWidgets(); track w.id){
        <app-widget [data]="w" [loggedUser]="currentUser"/>
    
    }

</div>
