


<div class="calendar-container" *ngIf="reservations.length > 0">
  <mat-calendar 
  [dateClass]="dateClass"
  (selectedChange)="dateSelected($event)"
  (monthChange)="onMonthChange()"
   ></mat-calendar>
   <div *ngIf="selectedReservations.length > 0">
    <h3>Reservations for {{ selectedDate | date }}</h3>
    <div class="profile-pictures"></div>
  </div>
</div>
<div class="reservation-details" *ngIf="selectedReservations.length > 0">
  <div class="reservation-header">
    <h4>Reservation Available: <span class="reservation-count">{{ selectedReservations.length }}</span></h4>
    <h3>Reservations for <span class="reservation-date">{{ selectedDate | date }}</span></h3>
  </div>
  <ul class="reservation-list">
    <li class="reservation-item" *ngFor="let reservation of selectedReservations">
      <div class="reservation-info">
        <strong class="reservation-name">{{ reservation.originalData!.user!.persianFirstName }} {{ reservation.originalData!.user!.persianLastName }}</strong> 
        <span class="reservation-date-range">
          ({{ reservation.jalaliStart}} - {{ reservation.jalaliEnd}})
        </span>
      </div>
    </li>
  </ul>
</div>

