<mat-toolbar class="header-toolbar">
    <div ></div>
       <div class="loading-lines">
         <div class="loading-line short"></div>
         <div class="loading-line "></div>
         <div class="loading-line short"></div>
         </div>
 </mat-toolbar>
 <div class="image-container">
   <div class="small-images">
     <div class="samll-image"></div>
     <div class="samll-image"></div>
     <div class="samll-image"></div>
     <div class="samll-image"></div>
   </div>
   <div class="large-image">
 <div class="big-images"></div>
   </div>
 </div>
 <div class="paraph">
   <div class="loading-lines">
     <div class="loading-line short"></div>
     <div class="loading-line "></div>
     <div class="loading-line short"></div>
     <div class="loading-line "></div>
     <div class="loading-line short"></div>
     </div>
 </div>