<div class="container">


    <mat-card class="loading-card">
      <div class="shimmer-wrapper">
        <div class="shimmer"></div>
      </div>
      <div class="loading-content">
        <div class="loading-header">
          <div class="loading-avatar"></div>
          <div class="loading-text-header"></div>
        </div>
        <div class="loading-lines">
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
        </div>
      </div>
    </mat-card>
    <mat-card class="loading-card">
      <div class="shimmer-wrapper">
        <div class="shimmer"></div>
      </div>
      <div class="loading-content">
        <div class="loading-header">
          <div class="loading-avatar"></div>
          <div class="loading-text-header"></div>
        </div>
        <div class="loading-lines">
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
        </div>
      </div>
    </mat-card>
    <mat-card class="loading-card">
      <div class="shimmer-wrapper">
        <div class="shimmer"></div>
      </div>
      <div class="loading-content">
        <div class="loading-header">
          <div class="loading-avatar"></div>
          <div class="loading-text-header"></div>
        </div>
        <div class="loading-lines">
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
        </div>
      </div>
    </mat-card>
    <mat-card class="loading-card">
      <div class="shimmer-wrapper">
        <div class="shimmer"></div>
      </div>
      <div class="loading-content">
        <div class="loading-header">
          <div class="loading-avatar"></div>
          <div class="loading-text-header"></div>
        </div>
        <div class="loading-lines">
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
        </div>
      </div>
    </mat-card>
    <mat-card class="loading-card">
      <div class="shimmer-wrapper">
        <div class="shimmer"></div>
      </div>
      <div class="loading-content">
        <div class="loading-header">
          <div class="loading-avatar"></div>
          <div class="loading-text-header"></div>
        </div>
        <div class="loading-lines">
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
        </div>
      </div>
    </mat-card>
    <mat-card class="loading-card">
      <div class="shimmer-wrapper">
        <div class="shimmer"></div>
      </div>
      <div class="loading-content">
        <div class="loading-header">
          <div class="loading-avatar"></div>
          <div class="loading-text-header"></div>
        </div>
        <div class="loading-lines">
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
        </div>
      </div>
    </mat-card>
    <mat-card class="loading-card">
      <div class="shimmer-wrapper">
        <div class="shimmer"></div>
      </div>
      <div class="loading-content">
        <div class="loading-header">
          <div class="loading-avatar"></div>
          <div class="loading-text-header"></div>
        </div>
        <div class="loading-lines">
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
        </div>
      </div>
    </mat-card>
    <mat-card class="loading-card">
      <div class="shimmer-wrapper">
        <div class="shimmer"></div>
      </div>
      <div class="loading-content">
        <div class="loading-header">
          <div class="loading-avatar"></div>
          <div class="loading-text-header"></div>
        </div>
        <div class="loading-lines">
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line short"></div>
          <div class="loading-line "></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
          <div class="loading-line"></div>
          <div class="loading-line"></div>
          <div class="loading-line short"></div>
        </div>
      </div>
    </mat-card>
    
    </div>