


<mat-nav-list>

    
    
      <a mat-list-item routerLink="/signup" (click)="onClose()">
        <span class="nav-caption">ثبت کاربر جدید</span>
        <mat-icon>face</mat-icon>
      </a>
      <a mat-list-item routerLink="/login" (click)="onClose()">
        <span class="nav-caption">ورود</span>
        <mat-icon>input</mat-icon>
      </a>
    
      <a mat-list-item routerLink="/search" (click)="onClose()">
        <span class="nav-caption">جستجوی اعضا</span>
        <mat-icon>search</mat-icon>
      </a>
      <a mat-list-item routerLink="/allhotel" (click)="onClose()">
        <span class="nav-caption">مشاهده تمام هتل ها</span>
        <mat-icon>shopping_cart</mat-icon>
      </a>
      
      <a mat-list-item routerLink="/allcomment" (click)="onClose()">
        <span class="nav-caption">مشاهده تاریخچه کامنت ها</span>
        <mat-icon>comment</mat-icon>
      </a>
      <a mat-list-item routerLink="/pendingreservation" (click)="onClose()">
        <span class="nav-caption">رزور های ثبت شده</span>
        <mat-icon>list_alt</mat-icon>
      </a>
      <a mat-list-item routerLink="/calendar" (click)="onClose()">
        <span class="nav-caption ">تقویم رزرو های ثبت شده</span>
        <mat-icon>search</mat-icon>
      </a>
      
    
    
    
      
        
    
    
    
    
       </mat-nav-list>